In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv("zomato.csv")

In [4]:
data.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [5]:
data.isna().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [6]:
data.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [7]:
x = data[['online_order','book_table','location','rest_type','dish_liked','cuisines','approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)']]

In [8]:
x.head()

,online_order,book_table,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type)
0,Yes,Yes,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet
1,Yes,No,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet
2,Yes,No,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet
3,No,No,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet
4,No,No,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet

In [9]:
data[['rate','total_rate']] = data['rate'].str.split('/',expand = True)

In [10]:
data.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city),total_rate
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari,5
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari,5
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari,5
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari,5
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari,5

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
 17  total_rate                   41665 non-null  object
dtypes: int64(1), object(17)
memory usage: 7.1+ MB

In [12]:
data['rate'].unique()

array(['4.1', '3.8', '3.7', '3.6', '4.6', '4.0', '4.2', '3.9', '3.1',
       '3.0', '3.2', '3.3', '2.8', '4.4', '4.3', 'NEW', '2.9', '3.5', nan,
       '2.6', '3.8 ', '3.4', '4.5', '2.5', '2.7', '4.7', '2.4', '2.2',
       '2.3', '3.4 ', '-', '3.6 ', '4.8', '3.9 ', '4.2 ', '4.0 ', '4.1 ',
       '3.7 ', '3.1 ', '2.9 ', '3.3 ', '2.8 ', '3.5 ', '2.7 ', '2.5 ',
       '3.2 ', '2.6 ', '4.5 ', '4.3 ', '4.4 ', '4.9', '2.1', '2.0', '1.8',
       '4.6 ', '4.9 ', '3.0 ', '4.8 ', '2.3 ', '4.7 ', '2.4 ', '2.1 ',
       '2.2 ', '2.0 ', '1.8 '], dtype=object)

In [13]:
data['rate'] = data['rate'].replace(['NEW','-'],np.nan)

In [14]:
data['rate'] = data['rate'].astype(float)

In [15]:
data['rate'].unique()

array([4.1, 3.8, 3.7, 3.6, 4.6, 4. , 4.2, 3.9, 3.1, 3. , 3.2, 3.3, 2.8,
       4.4, 4.3, nan, 2.9, 3.5, 2.6, 3.4, 4.5, 2.5, 2.7, 4.7, 2.4, 2.2,
       2.3, 4.8, 4.9, 2.1, 2. , 1.8])

In [16]:
median = data['rate'].median() 
median

3.7

In [17]:
data['rate'] = data['rate'].fillna(median)

In [18]:
data.isna().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                               0
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
total_rate                     10052
dtype: int64

In [19]:
y = data['rate']

In [20]:
y

0        4.1
1        4.1
2        3.8
3        3.7
4        3.8
        ...
51712    3.6
51713    3.7
51714    3.7
51715    4.3
51716    3.4
Name: rate, Length: 51717, dtype: float64

In [21]:
x.isna().sum()

online_order                       0
book_table                         0
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
dtype: int64

In [22]:
x['approx_cost(for two people)'].unique()

array(['800', '300', '600', '700', '550', '500', '450', '650', '400',
       '900', '200', '750', '150', '850', '100', '1,200', '350', '250',
       '950', '1,000', '1,500', '1,300', '199', '80', '1,100', '160',
       '1,600', '230', '130', '50', '190', '1,700', nan, '1,400', '180',
       '1,350', '2,200', '2,000', '1,800', '1,900', '330', '2,500',
       '2,100', '3,000', '2,800', '3,400', '40', '1,250', '3,500',
       '4,000', '2,400', '2,600', '120', '1,450', '469', '70', '3,200',
       '60', '560', '240', '360', '6,000', '1,050', '2,300', '4,100',
       '5,000', '3,700', '1,650', '2,700', '4,500', '140'], dtype=object)

In [23]:
x['approx_cost(for two people)'] = x['approx_cost(for two people)'].str.replace(',','')

In [24]:
x['approx_cost(for two people)'].unique()

array(['800', '300', '600', '700', '550', '500', '450', '650', '400',
       '900', '200', '750', '150', '850', '100', '1200', '350', '250',
       '950', '1000', '1500', '1300', '199', '80', '1100', '160', '1600',
       '230', '130', '50', '190', '1700', nan, '1400', '180', '1350',
       '2200', '2000', '1800', '1900', '330', '2500', '2100', '3000',
       '2800', '3400', '40', '1250', '3500', '4000', '2400', '2600',
       '120', '1450', '469', '70', '3200', '60', '560', '240', '360',
       '6000', '1050', '2300', '4100', '5000', '3700', '1650', '2700',
       '4500', '140'], dtype=object)

In [25]:
x['approx_cost(for two people)'] = x['approx_cost(for two people)'].astype(float)

In [26]:
x['approx_cost(for two people)'] = x['approx_cost(for two people)'].fillna(x['approx_cost(for two people)'].median())

In [27]:
x.isna().sum()

online_order                       0
book_table                         0
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)        0
reviews_list                       0
menu_item                          0
listed_in(type)                    0
dtype: int64

In [28]:
x['cuisines'] = x['cuisines'].fillna('no cuisines')

In [29]:
x['dish_liked'] = x['dish_liked'].fillna("unknown")

In [30]:
x['rest_type'] = x['rest_type'].fillna('no_rest_type')

In [31]:
x['location'] = x['location'].fillna('no location')

In [32]:
x.isna().sum()

online_order                   0
book_table                     0
location                       0
rest_type                      0
dish_liked                     0
cuisines                       0
approx_cost(for two people)    0
reviews_list                   0
menu_item                      0
listed_in(type)                0
dtype: int64

In [33]:
x.head()

,online_order,book_table,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type)
0,Yes,Yes,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet
1,Yes,No,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet
2,Yes,No,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet
3,No,No,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet
4,No,No,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet

In [34]:
x['menu_item'].unique()

array(['[]',
       "['Chocolate Fantasy (Pack Of 5)', 'Pan Cake (Pack Of 6)', 'Gulab Jamun (Pack Of 10)', 'Gulkand Shot (Pack Of 5)', 'Chocolate Decadence (Pack of 2)', 'CheeseCake (Pack Of 2)', 'Red Velvet Slice Cake (Pack of 2)', 'Red Velvet Slice Cake & Cheese Cake (Pack of 2)', 'Red Velvet Slice Cake & Chocolate Decadence Cake (Pack of 2)', 'Hazelnut Brownie (Pack of 2)', 'Moments', 'Red Velvet Cake With Butter Cream Frosting (750 Gm)', 'Red Velvet Slice Cake (Pack of 2)', 'Red Velvet Slice Cake & Cheese Cake (Pack of 2)', 'Red Velvet Slice Cake & Chocolate Decadence Cake (Pack of 2)', 'Red Velvet Slice Cake (Pack of 1)', 'Valentine Red Velvet Jar', 'Valentine Chocolate Jar', 'Valentines Jar Combo', 'Pink Guava 500 ML', 'Oreo Vanilla 500 ML', 'Cookie Crumble 500 ML', 'Chocolate Fantasy', 'Gulkand-E-Bahar', 'Pan Cake', 'Hazelnut Brownie (Pack Of 1)', 'Gulab Jamun (Pack Of 2)', 'Plum Cake', 'Red Velvet Cake With Butter Cream Frosting (750 Gm)', 'Chocolate Mud Cake (700 Gms)', 'CheeseCake (Pack of 1)', 'Chocolate Decadence (Pack of 1)', 'Red Velvet Slice Cake (Pack of 1)']",
       "['Chole Kulcha Meal', 'Upvas Aloo Paratha With Dahi', 'Singhada Aloo Paratha with Hare Tamatar Ki Sabji', 'Smoked Butter Chicken Combo', 'Paneer Methi Chaman Combo', 'Mutton Bhuna Combo', 'Rajma Masala Meal', 'Dal Makhani Veg Starter Combo', 'Dal Makhani Non-Veg Starter Combo', 'Malai Kofta Combo', 'Jumbo Chicken Wrap', 'Jumbo Veg Wrap', 'Jumbo Falafel Salsa Wrap', 'Chicken Overload Jumbo Wrap', 'Veg Pizza Wrap', 'Chicken Pizza Wrap', 'Mexican Potato Salsa Wrap', 'American Smokey Sausage Wrap', 'Makhani Falafel Wrap', 'Mutton Overload Wrap', 'Mac & Cheese Chicken Wrap', 'Mac & Cheese Veg Wrap', 'Barbeque Chicken Wrap', 'Mutton Boti Wrap', 'Masala Paneer Tikka Wrap', 'Fiery Paneer Tikka Wrap', 'Masala Chicken Tikka Wrap', 'Cheesy Corn Salsa Wrap', 'Chicken Mayo Wrap', 'Cheese Melt Chicken Wrap', 'Cheese Melt Paneer Wrap', 'Double Cheese Meatball Wrap', 'Reshmi Chicken Kebab Wrap', 'Egg Cheese Sausage Wrap', 'Double Egg Chatpata Wrap', 'Cheesy Potato Wrap', 'Veg Falafel Wrap', 'Chicken Bhuna Wrap', 'Chatpate Chole Wrap', 'Fiery Paneer Wrap', 'Fiery Chicken Wrap', 'Mac & Cheese Wrap', 'Hare Tamatar & Sabudana Wada Royal Thali', 'Singhada Aloo Paratha & Hare Tamatar Royal Satvik Meal', 'Smoked Butter Chicken With Omelette', 'Rajma Masala Royal Combo', 'Paneer Methi Chaman Royal Combo', 'Mutton Bhuna Royal Combo', 'Smoked Butter Chicken Royal Combo', 'Malai Kofta Royal Combo', 'Fusion Breakfast', 'Pan Cake', 'Aloo Paratha Combo', 'Chai for 4', 'Cheesy Chicken Meatballs', 'Peach Tea (Serves 4)', 'Falafel Nuggets with Mayo Dip', 'Potato Chilli Shots with Mayo Dip', 'Pan Cake', 'Kashmiri Kahwa (Serves 4)', 'Masala Chai (Serves 4)', 'Chai for 4 + Nature valley bar', 'Kulcha', 'Flavorful Rice Tub', 'Dal Makhani Bowl (Half KG)', 'Smoked Butter Chicken Bowl (Half KG)', 'Mutton Bhuna Bowl (Half KG)', 'Singhada Aloo Paratha Tub', 'Curd Bowl (Half KG)', 'Hare Tamatar Ki Subji (Half KG)', 'Rajma Masala Bowl (Half KG)', 'Triangle Paratha Tub', 'Malai Kofta Bowl (Half Kg)', 'Chocolate Fantasy', 'SWIG Jeera Masala', 'SWIG Green apple', 'Kesar Muesli', 'Gulab Jamun (Pack Of 2)', 'Plum Cake', 'Gulab Jamun (Pack of 1)', 'Moments', 'Hazelnut Brownie (Pack Of 1)', 'CheeseCake (Pack of 1)', 'Chocolate Decadence (Pack of 1)', 'Red Velvet Slice Cake (Pack of 1)', 'Mint Chaas']",
       ...,
       '[\'Veg Thai Green Curry\', \'BBQ Sloppy Chicken Burger\', "Harry\'s Farm House Pizza", \'Egg Schezwan Fried Rice\', \'Chicken Schezwan Noodles\', \'Veg Platter\', \'Non Veg Platter\', \'Tom Yum Goong\', \'Tandoori Kalonji Aloo\', \'Tandoori Pesto Flowerets\', \'Paneer and Pineapple Tikka\', \'Adraki Soy Chilli Chicken Kebab\', \'Tandoori Chicken Lollipop\', \'Parpika Choosa\', \'Lamb Seekh Kebab\', \'Achari Fish Tikka\', \'Rumali Roti\', \'Naan\', \'Butter Naan\', \'Garlic Naan\', \'Butter Garlic Naan\', \'Cheese Naan\', \'Butter Garlic Cheese Naan\', \'Garlic Cheese Naan\', \'Veg Fried Rice\', \'Veg Schezwan Fried Rice\', \'Veg Hakka Noodles\', \'Veg Schezwan Noodles\', \'Veg Singapore Noodles\', \'Egg Fried Rice\', \'Egg Schezwan Fried Rice\', \'Egg Hakka Noodles\', \'Egg Schezwan Noodles\', \'Egg Singapore Noodles\', \'Chicken Hakka Noodles\', \'Chicken Schezwan Noodles\', \'Chicken Singapore Noodles\', \'Prawns Fried Rice\', \'Prawns Schezwan Fried Rice\', \'Prawns Hakka Noodles\', \'Prawns Schezwan Noodles\', \'Prawns Singapore Noodles\', \'Margherita Pizza\', "Harry\'s Farm House Pizza", \'Classique Paneer Tikka Pizza\', \'Veg Exotica Pizza\', \'Thai Basil Chicken Pizza\', \'Classic Chicken Tikka Pizza\', \'Spicy Pepperoni Pizza\', \'Penne Rustica\', \'Spaghetti Aglio e Olio Pasta\', \'Harry\x83\\x83\x82\\x83\x83\\x82\x82\\x83\x83\\x83\x82\\x82\x83\\x82\x82\x83\\x83\x82\\x83\x83\\x82\x82\\x82\x83\\x83\x82\\x82\x83\\x82\x82\\x80\x83\\x83\x82\\x83\x83\\x82\x82\\x82\x83\\x83\x82\\x82\x83\\x82\x82\\x99s Mac and Cheese Pasta\', \'Penne Vodkatini\', \'Baked Butter Chicken Lasaqna\', \'Spaghetti Carbonara\', \'Straight Up Veg Burger\', \'BBQ Sloppy Chicken Burger\', \'Harry\x83\\x83\x82\\x83\x83\\x82\x82\\x83\x83\\x83\x82\\x82\x83\\x82\x82\x83\\x83\x82\\x83\x83\\x82\x82\\x82\x83\\x83\x82\\x82\x83\\x82\x82\\x80\x83\\x83\x82\\x83\x83\\x82\x82\\x82\x83\\x83\x82\\x82\x83\\x82\x82\\x99s Lamb Burger\', \'Jazz Burger\', \'Paneer Bhurji Pav\', \'Egg Kejriwal\', \'Anda Bhurji Pav\', \'Omelette Pav\', \'Egg Chilly\', \'Goan Rassa Omelette with Pav\', \'Veg Wok Tossed Ginger Sprout Noodles with Crackling Spinach\', \'Veg Kung Pao Curry\', \'Veg Thai Green Curry\', \'Veg Laksa\', \'Chicken Wok Tossed Ginger Sprout Noodles with Crackling Spinach\', \'Grilled Chilly Chicken\', \'Chicken Kung Pao Curry\', \'Chicken Thai Green Curry\', \'Chicken Laksa\', \'Sri Lankan Black Pepper Chicken\', \'Nasi Stir Fry Rice\', \'Fish Wok Tossed Ginger Sprout Noodles with Crackling Spinach\', \'Seafood Kung Pao Curry\', \'Seafood Thai Green Curry\', \'Seafood Laksa\', \'Bangkok Seafood Bowl\', \'Crispy Garlic Bread\', \'Classic Masala Peanut\', \'Salt and Pepper Corn\', \'Bombay Spiced Wedges\', \'Harrys Onion Rings\', \'French Fries\', \'Crispy Chilli Potatoes\', \'Baked Sweet Potato Wedges\', \'Peri Peri Salsa Fries\', \'Parmigiana Truffle Fries\', \'Chicken Tikka Poutine\', \'Lamb Lovers Fries\', \'Paneer Bhurji Pav\', \'Cheese Chilli Toast\', \'Pita Chips with Classic Hummus\', \'Paneer Chilli Dry\', \'Veg Smoked Quesadillas\', \'Fondue Stuffed Mushrooms\', \'Wonton Kachories\', \'Cottage Cheese Malaysian Satay\', \'Muchos Nachos Veggie\', "Harry\'s Cheese Fondue Veg Dunks", \'Non Veg Smoked Quesadillas\', \'Chilli Chicken\', \'Chicken Malaysian Satay\', \'Drunken Chicken\', \'Crispy Chicken\', \'Andhra Chicken Pepper Fry\', \'Singapore Chicken Lollipop\', \'Fiery Schezwan Pepper Chicken\', \'Chilli Chicken Roll\', \'BBQ Rum Flambeed Wings\', \'Grilled Tenderloin Chilli Fry\', \'Keema Pav\', \'Pigs in a Blanket\', \'Kerala Buff Chilly\', \'Buffalo Chicken Winglets\', \'Pattaya Beach Fish Goujons\', \'Fishermans Basket\', "Harry\'s Cheese Fondue Non Veg Dunks", \'Paneer Urban Tikka Masala\', "Veg Harry\'s Stroganoff", \'Chicken Urban Tikka Masala\', \'Jamaican Jerk Chicken\', "Chicken Harry\'s Stroganoff", \'Harrys Pepper Chicken\', \'Peppered Tenderloin Steak\', "Harry\'s Beer Batter Fish", \'Smoked Paprika Fish\', \'Darsaan\', \'Sizzling Brownie\']',
       '[\'Chicken Wings\', \'Pepper Chicken\', "Beef Grilled One\'s Burger", \'Spicy Louisiana Pizza\', \'Chilly Chicken Pizza\', \'Chicken Mexicana Pizza\', \'Veg Italian Tomato and Fresh Basil Soup\', \'Chicken Lemon Coriander Soup\', \'Southern Fried Chicken\', \'Chicken Wings\', \'Gambas\', \'Bbq Jerk Chicken\', \'Chicken Nachos Carnitos\', \'Spicy Chicken Carrebbean Sausages\', \'Spicy Pork Carrebbean Sausages\', \'Pork Nachos Carnitos\', \'Beef Spicy New Orleans Braised Meat\', \'Cajun Spiced Fish Fingers\', \'Pepper Chicken\', \'Chicken Apollo Style\', \'Prawns Apollo Style\', \'Chicken Streetside Chilly Style\', \'Beef Streetside Chilly Style\', \'Pork Streetside Chilly Style\', \'Chicken Manchurian Style\', "Chicken Spicy Chef\'s Special Style", "Beef Spicy Chef\'s Special Style", "Chicken Kim\'s Style", \'Beef Nachos Carnitos\', "Beef Kim\'s Style", "Pork Kim\'s Style", \'Chettinad Chicken Roast\', \'Chettinad Pudhina Chicken Roast\', \'Chicken Kabab\', "Prawns Spicy Chef\'s Special Style", \'Prawns Manchurian Style\', \'Fried Beef\', \'Pork Spicy New Orleans Braised Meat\', \'Fried Pork\', "Prawns Kim\'s Style", \'Fish Manchurian Style\', "Fish Spicy Chef\'s Special Style", \'Fish Streetside Chilly Style\', \'Fish Apollo Style\', "Fish Kim\'s Style", \'Pork Streetside Chilly Style\', "Pork Spicy Chef\'s Special Style", \'Pork Manchurian Style\', \'Beef Manchurian Style\', "Paneer Korean Kim\'s Style", \'Paneer Tangy Spinach Sauce\', \'Paneer Apollo Style Sauce\', \'Paneer Singaporean Style Sauce\', \'Paneer Ginger Chilly Garlic Sauce\', \'Paneer Ginger Chilly Garlic Sauce\', \'Paneer Ginger Chilly Garlic Sauce\', \'Paneer Hot Garlic Sauce\', \'Paneer Lemon Coriander Sauce\', "Veg Korean Kim\'s Style", \'Veg Tangy Spinach Sauce\', \'Veg Apollo Style Sauce\', "Veg Korean Kim\'s Style", \'Veg Singaporean Style Sauce\', \'Veg Ginger Chilly Garlic Sauce Burger\', \'Veg Chefs Super Spicy Style\', \'Veg Hot Garlic Sauce\', \'Lemon Coriander Sauce\', "Chicken Korean Kim\'s Style", \'Chicken Tangy Spinach Sauce\', \'Apollo Style Sauce\', \'Chicken Singaporean Style Sauce\', \'Chicken Singaporean Style Sauce\', \'Chicken Chefs Super Spicy Style\', \'Chicken Hot Garlic Sauce\', \'Chicken Hot Garlic Sauce\', "Beef Korean Kim\'s Style", \'Beef Tangy Spinach Sauce\', \'Beef Apollo Style Sauce\', \'Beef Singaporean Style Sauce\', \'Beef Ginger Chilly Garlic Sauce\', \'Beef Chefs Super Spicy Style\', \'Beef Chefs Super Spicy Style\', \'Beef Hot Garlic Sauce\', \'Beef Lemon Coriander Sauce\', "Pork Korean Kim\'s Style", \'Pork Tangy Spinach Sauce\', \'Pork Apollo Style Sauce\', \'Pork Singaporean Style Sauce\', \'Pork Ginger Chilly Garlic Sauce\', \'Pork Chefs Super Spicy Style\', \'Pork Hot Garlic Sauce\', \'Pork Lemon Coriander Sauce\', "Fish Korean Kim\'s Style", \'Fish Tangy Spinach Sauce\', \'Fish Apollo Style Sauce\', \'Fish Singaporean Style Sauce\', \'Fish Ginger Chilly Garlic Sauce\', \'Fish Chefs Super Spicy Style\', \'Fish Hot Garlic Sauce\', \'Fish Lemon Coriander Sauce\', "Korean Kim\'s Style", \'Prawns Tangy Spinach Sauce\', \'Prawns Apollo Style Sauce\', \'Prawns Apollo Style Sauce\', \'Prawns Ginger Chilly Garlic Sauce\', \'Prawns Chefs Super Spicy Style\', \'Prawns Hot Garlic Sauce\', \'Prawns Lemon Coriander Sauce\', \'Veg Stir Fried Rice\', \'Veg Mongolian Rice\', \'Veg Olivers Spicy Rice\', \'Veg Singaporean Rice\', \'Egg Stir Fried Rice\', \'Egg Mongolian Rice\', \'Egg Olivers Spicy Rice\', \'Egg Singaporean Rice\', \'Chicken Stir Fried Rice\', \'Chicken Mongolian Rice\', \'Chicken Olivers Spicy Rice\', \'Chicken Singaporean Rice\', \'Beef Stir Fried Rice\', \'Beef Mongolian Rice\', \'Beef Olivers Spicy Rice\', \'Beef Singaporean Rice\', \'Pork Stir Fried Rice\', \'Pork Mongolian Rice\', \'Pork Olivers Spicy Rice\', \'Pork Singaporean Rice\', \'Fish Stir Fried Rice\', \'Fish Mongolian Rice\', \'Fish Olivers Spicy Rice\', \'Fish Singaporean Rice\', \'Prawns Stir Fried Rice\', \'Prawns Mongolian Rice\', \'Prawns Olivers Spicy Rice\', \'Prawns Singaporean Rice\', \'Veg Stir Fried Noodles\', \'Veg Mongolian Noodles\', \'Veg Olivers Spicy Noodles\', \'Veg Singaporean Noodles\', \'Egg Stir Fried Noodles\', \'Egg Mongolian Noodles\', \'Egg Olivers Spicy Noodles\', \'Egg Singaporean Noodles\', \'Chicken Stir Fried Noodles\', \'Chicken Mongolian Noodles\', \'Chicken Olivers Spicy Noodles\', \'Chicken Singaporean Noodles\', \'Beef Stir Fried Noodles\', \'Beef Mongolian Noodles\', \'Beef Olivers Spicy Noodles\', \'Beef Singaporean Noodles\', \'Pork Stir Fried Noodles\', \'Pork Mongolian Noodles\', \'Pork Olivers Spicy Noodles\', \'Pork Singaporean Noodles\', \'Fish Stir Fried Noodles\', \'Fish Mongolian Noodles\', \'Fish Olivers Spicy Noodles\', \'Fish Singaporean Noodles\', \'Prawns Stir Fried Noodles\', \'Prawns Mongolian Noodles\', \'Prawns Olivers Spicy Noodles\', \'Prawns Singaporean Noodles\', \'Mexican Bean Burger\', \'Bean Bbq\', \'Ginger Chilly Garlic Sauce Burger\', \'Cottage Cheese Jerky Burgers\', \'Spinach Ricotta Smashers\', \'Grilled Pepper Smashers\', \'Grilled Veg Sandwich\', \'Falafel\', \'Eggplant Parm\', "Chicken Grilled One\'s Burger", "Beef Grilled One\'s Burger", \'Almost Famous Moo Burger\', \'Miami Chicken Burger\', \'Miami Beef Burger\', \'Philly Cheesesteak Burger\', \'Santa Fe Beef Burger\', \'Cleveland Sandwich\', \'Philly Cheese Steak Sandwich\', \'Cuban Sandwich\', \'Pulled Chicken Sandwich\', \'Beef Saigon Bahn Mi Sandwich\', \'Pork Saigon Bahn Mi Sandwich\', \'Cheese Garlic Bread\', \'Jalapeno Poppers\', \'Cajun Spiced Potato Wedges\', \'Bruschetta\', \'Spring Rolls\', \'Crispy Potato Fingers\', \'Manchurian Style\', \'Streeside Chilly Style\', \'Crispy Fried Babycorn\', \'American Corn Bombs\', \'Cripsy Fried Paneer\', \'Pepper Salt\', \'Oliver\x83\\x83\x82\\x83\x83\\x82\x82\\x83\x83\\x83\x82\\x82\x83\\x82\x82\x83\\x83\x82\\x83\x83\\x82\x82\\x82\x83\\x83\x82\\x82\x83\\x82\x82\\x80\x83\\x83\x82\\x83\x83\\x82\x82\\x82\x83\\x83\x82\\x82\x83\\x82\x82\\x99s Pepper Masala Paneer Roast\', \'Oliver\x83\\x83\x82\\x83\x83\\x82\x82\\x83\x83\\x83\x82\\x82\x83\\x82\x82\x83\\x83\x82\\x83\x83\\x82\x82\\x82\x83\\x83\x82\\x82\x83\\x82\x82\\x80\x83\\x83\x82\\x83\x83\\x82\x82\\x82\x83\\x83\x82\\x82\x83\\x82\x82\\x99s Chettinad Aloo Roast\', \'Oliver\x83\\x83\x82\\x83\x83\\x82\x82\\x83\x83\\x83\x82\\x82\x83\\x82\x82\x83\\x83\x82\\x83\x83\\x82\x82\\x82\x83\\x83\x82\\x82\x83\\x82\x82\\x80\x83\\x83\x82\\x83\x83\\x82\x82\\x82\x83\\x83\x82\\x82\x83\\x82\x82\\x99s Pudhina Aloo Roast\', \'Onion Pakoda\', \'Paneer Pakoda\', \'Egg Bhurji\', \'Masala Egg Pakoda\', \'Masala Omlette\', \'Egg Bhurji With Bacon & Sausage\', \'Chilly Egg\', \'Egg Bhurji With Bacon And Sausage\', \'Pizza Margharita\', \'Spicy Louisiana Pizza\', \'Wilted Spinach Pizza\', \'Eggplant Pizza\', \'Patata Salsa Pizza\', \'Stirfried Babycorn Pizza\', \'Arugula Pizza\', \'Pesto Shrooms Pizza\', \'Chilly Paneer Pizza\', \'Spicy Peri Peri Paneer & Spinach Pizza\', \'Mexican Nachos Special Pizza\', \'Chicken BBQ Pizza\', \'Chicken Sausage Pizza\', \'Chilly Chicken Pizza\', \'Chicken 65 Pizza\', \'Chicken Mexicana Pizza\', \'Chicken Bolognese Pizza\', \'Mexican Chicken Nachos Pizza\', \'Mexican Beef Nachos Pizza\', \'Arugula Bacon Pizza\', \'Pepperoni Pizza\', \'Chorizo Pizza\', \'Chocolate Brownie\']',
       "['Dal Tadka', 'Dal Makhani', 'Paneer Tikka Masala', 'Kadai Paneer', 'Paneer Makhani', 'Malai Kofta', 'Mutton Rogan Josh', 'Jeera Rice', 'Veg Biryani', 'Murgh Dum Biryani', 'Murgh Dum Biryani [Family Pack]', 'Hara Bara Kabab', 'Paneer Tikka', 'Tandoori Murgh', 'Murgh Lahori Kalmi', 'Jalebi with Rabdi', 'Roomali Roti', 'Afghani Naan', 'Stuffed Paratha', 'Paneer Tikka Masala Meal', 'Paneer Makhani Meal', 'Veg Biryani Meal', 'Executive Veg Box Meal', 'Executive Non Veg Box Meal', 'Rajma Meal', 'Peshawari Channa Meal', 'Paneer Tikka Masala Meal', 'Paneer Makhani Meal', 'Egg Curry Meal', 'Butter Chicken Meal', 'Rara Murgh Meal', 'Mutton Rogan Josh Meal', 'Rara Mutton Meal', 'Veg Biryani Meal', 'Egg Biryani Meal', 'Murgh Dum Biryani Meal', 'Murgh Tikka Biryani Meal', 'Mutton Biryani Meal', 'Prawns Biryani Meal', 'Executive Veg Box Meal', 'Executive Non Veg Box Meal', 'Tomato Shorba', 'Murgh Shorba', 'Bagicha ka Salad', 'Karela Salad', 'Kaju Fry Salad', 'Murgh Tikka Salad', 'French Fries', 'Aloo Tak-a-Tak', 'Baby Corn Harimirch Wala', 'Bhatti ka Gobi', 'Hara Bara Kabab', 'Tandoori Mushroom', 'Mushroom Harimirch Wala', 'Paneer Resunga', 'Paneer Tikka', 'Peshawari Seekh Kabab', 'Tandoori Murgh', 'Murgh Lahori Kalmi', 'Mutton Pepper Dry', 'Macchi Amritsari', 'Macchi Tak-a-Tak', 'Tawa Macchi', 'Prawns Balaika', 'Prawns Tak-a-Tak', 'Tandoori Prawns', 'Prawns Harimirch Wala', 'Dal Tadka', 'Dal Makhani', 'Paneer Tikka Masala', 'Paneer Saagwala', 'Kadai Paneer', 'Paneer Makhani', 'Mushroom Matar', 'Veg Patiala', 'Diwani Handi', 'Kadai Veg', 'Rajma', 'Sarson ka Saag', 'Aloo Gobi Masala', 'Bhindi Do Pyaza', 'Peshawari Channa', 'Malai Kofta', 'Kaju Masala', 'Egg Bhurji', 'Egg Masala', 'Rarra Mutton', 'Mutton Rogan Josh', 'Methi Macchi Masala', 'Macchi Jalfrezi', 'Prawns Masala', 'Plain Rice', 'Curd Rice', 'Jeera Rice', 'Veg Pulao', 'Peas Pulao', 'Veg Biryani', 'Egg Biryani', 'Murgh Dum Biryani', 'Murgh Tikka Biryani', 'Mutton Biryani', 'Prawns Biryani', 'Egg Biryani [Family Pack]', 'Murgh Dum Biryani [Family Pack]', 'Murgh Tikka Biryani [Family Pack]', 'Mutton Biryani [Family Pack]', 'Prawns Biryani [Family Pack]', 'Phulka', 'Roti', 'Butter Roti', 'Harimirch Paratha', 'Lalmirch Paratha', 'Garlic Naan', 'Naan', 'Butter Naan', 'Lachha Paratha', 'Kulcha', 'Butter Kulcha', 'Makkai Ki Roti', 'Roomali Roti', 'Afghani Naan', 'Peshawari Paratha', 'Stuffed Paratha', '8 Roti ka Chota Khazana', '12 Roti ka Bada Khazana', 'Egg Paratha', 'Mutton Keema Paratha', 'Roasted Papad', 'Masala Papad', 'Plain Curd', 'Mixed Veg Raita', 'Boondi Raita', 'Cucumber Raita', 'Pineapple Raita', 'Onion Raita', 'Mint Raita', 'Rabdi', 'Jalebi', 'Jalebi with Rabdi', 'Gulab Jamun', 'Rasgulla', 'Bhune Jeere ki Chaach', 'Jal Jeera', 'Meetha Punjabi Lassi', 'Namkeen Punjabi Lassi', 'Masala Punjabi Lassi', 'Patiala Punjabi Lassi', 'Meetha Nimboo Paani', 'Namkeen Nimboo Paani', 'Roohafza Sherbat', 'Mineral Water [1 litre]']"],
      dtype=object)

In [35]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   online_order                 51717 non-null  object
 1   book_table                   51717 non-null  object
 2   location                     51717 non-null  object
 3   rest_type                    51717 non-null  object
 4   dish_liked                   51717 non-null  object
 5   cuisines                     51717 non-null  object
 6   approx_cost(for two people)  51717 non-null  float64
 7   reviews_list                 51717 non-null  object
 8   menu_item                    51717 non-null  object
 9   listed_in(type)              51717 non-null  object
dtypes: float64(1), object(9)
memory usage: 3.9+ MB

In [36]:
cate_feature = [col for col in x.columns if x[col].dtypes=='O']

In [37]:
cate_feature

['online_order',
 'book_table',
 'location',
 'rest_type',
 'dish_liked',
 'cuisines',
 'reviews_list',
 'menu_item',
 'listed_in(type)']

In [38]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in cate_feature:
    x[col] = le.fit_transform(x[col])

In [39]:
x.head()

,online_order,book_table,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type)
0,1,1,1,27,3651,2159,800.0,10851,9097,0
1,1,0,1,27,2964,952,800.0,12530,9097,0
2,1,0,1,22,1416,766,800.0,4652,9097,0
3,0,0,1,78,2766,2555,300.0,9293,9097,0
4,0,0,4,27,3453,2188,600.0,15505,9097,0

In [40]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [46]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=300)

In [47]:
model.fit(x_train,y_train)

RandomForestRegressor(n_estimators=300)

In [48]:
y_pred = model.predict(x_test)

In [49]:
from sklearn.metrics import r2_score

score = r2_score(y_pred,y_test)

print(score)

0.86442697047492